@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-1000px);
    }
}

#stars,
#stars::after,
#stars2,
#stars2::after,
#stars3,
#stars3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#stars,
#stars::after {
    animation: animStar 50s linear infinite;
}

#stars2,
#stars2::after {
    width: 2px;
    height: 2px;
    animation: animStar 100s linear infinite;
}

#stars3,
#stars3::after {
    width: 3px;
    height: 3px;
    animation: animStar 150s linear infinite;
}